<footer id="footer">
    <section class="redes-sociales">
        <div class="contenedor">
            <a target="_blank" href="https://www.facebook.com/joelalexander.guerreronavarro.7" class="facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/joel-guerrero-00a61b179/" class="linkedin">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/jagn1003/" class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" href="tel:+50763033932" class="whatsap">
                <i class="fab fa-whatsapp"></i> </a>
            <a target="_blank" href="https://github.com/JoelGuerrero03" class="github">
                <i class="fab fa-github"></i>
            </a>

        </div>

    </section>
</footer>
